<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="composeApplicationForUser" http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Compose application for a user</title>
</head>
<body>

<table width="1491" border="2">
  <tr>
    <th colspan="4" scope="col"><h1>Create new application for user <span th:text="${userLoginName}"></span></h1></th>
  </tr>
  <tr>
    <th width="440" scope="col">Manage your applications link to new applications</a> (drop down menu)</th>
    <th width="274" scope="col">Current date: 29.03.2019 10:00</th>
    <th width="454" scope="col">User selection for language UI ENG , DEU</th>
    <th width="293" scope="col">Logged as:&nbsp;<span th:text="${userLoginName}" ></span></th>
     <th width="146" scope="col">Logout -> after user click logout just deliver login page</th>
  </tr>
</table>

<form action="#" th:action="@{/submitNewJobApplicationForUser}" th:object="${userJobApplication}" method="post">
<table width="1490" border="0" cellpadding="0" cellspacing="2">
  <tr>
    <th colspan="3" scope="col"><div align="left"><u>Company information for application of user:</u>&nbsp; 
    <input type ="text" name="userNickName" id="userNickName" th:value="${userLoginName}" readonly /></div>
    </th>
  </tr>
   <tr>
    <th colspan="3" scope="col">&nbsp;</th>
  </tr>
  <tr>
    <td><div align="left"><strong>Send application date:</strong></div></td>
    <td>&nbsp;</td>
    <td ><input type="text" name="inputDateForUserApplSend" id="inputDateForUserApplSend" th:field="*{dateWhenApplicationWasSend}" /></td>
    <td><div align="left" th:if="${#fields.hasErrors('dateWhenApplicationWasSend')}" th:errors="*{dateWhenApplicationWasSend}">Invalid input for company application send date!</div></td>
  </tr>
  <tr>
    <td><div align="left"><strong>Country:</strong></div></td>
    <td>&nbsp;</td>
    <td><input type="text" name="countryWhereCompanyLocated" id="countryWhereCompanyLocated" th:field="*{companyCountryName}" /></td>
    <td><div align="left" th:if="${#fields.hasErrors('companyCountryName')}" th:errors="*{companyCountryName}">Invalid input for company country name!</div></td>
  </tr>
  <tr>
    <td><div align="left"><strong>City:</strong></div></td>
    <td>&nbsp;</td>
    <td><input type="text" name="cityWhereCompanyLocated" id="cityWhereCompanyLocated" th:field="*{companyCityName}" /></td>
    <td><div align="left" th:if="${#fields.hasErrors('companyCityName')}" th:errors="*{companyCityName}">Invalid input for company city name!</div></td>
  </tr>
  <tr>
    <td><div align="left"><strong>Industry:</strong></div></td>
    <td>&nbsp;</td>
    <td><input type="text" name="industryOfCompany" id="industryOfCompany" th:field="*{companyIndustry}" /></td>
    <td><div align="left" th:if="${#fields.hasErrors('companyIndustry')}" th:errors="*{companyIndustry}">Invalid input for company industry!</div></td>
  </tr>
  <tr>
    <td><div align="left"><strong>Company size (amount of employees):</strong></div></td>
    <td>&nbsp;</td>
    <td><input type="text" name="amountOfCompanyEmployees" id="amountOfCompanyEmployees" th:field="*{companyAmountOfEmployee}" /></td>
    <td><div align="left" th:if="${#fields.hasErrors('companyAmountOfEmployee')}" th:errors="*{companyAmountOfEmployee}">Invalid input for amount of company employees!</div></td>
  </tr>
    <tr>
    <td><div align="left"><strong>Company type:</strong></div></td>
    <td>&nbsp;</td>
	<td>
		<div align="left">
			<select name="selectionBoxCompanyType"	id="selectionBoxCompanyType" th:field="*{currentCompanyType}">
				<option th:each="currentCompanyType : ${allCompanyStateTypes}"	th:value="${currentCompanyType}" th:text="${currentCompanyType}"></option>
			</select>
		</div>
	</td>
	</tr>
	<tr>
    <td><div align="left"><strong>Company contact email:</strong></div></td>
    <td>&nbsp;</td>
    <td><input type="text" name="companyContactEmail" id="companyContactEmail" th:field="*{companyContactEmail}"/></td>
    <td><div align="left" th:if="${#fields.hasErrors('companyContactEmail')}" th:errors="*{companyContactEmail}">Invalid input for email!</div></td>
  </tr>
   <tr>
    <td><div align="left"><strong>Contact salutation:</strong></div></td>
    <td>&nbsp;</td>
    <td> 
    <ul>
    	<li th:each="type : ${allCompanySalutationTypes}">
		<div align="left">
			<input type="radio" th:field="*{typesOFCompanySalutationType}" th:value="${type}" /> <label th:text="${type}"></label>			
	    </div>
		</li>
   </ul>
</td>
  </tr>
   <tr>
    <td><div align="left"><strong>Contact last name:</strong></div></td>
    <td>&nbsp;</td>
    <td><input type="text" name="companyContactPersonLastName" id="companyContactPersonLastName"  th:field="*{companyContactLastName}"></td>
    <td><div align="left" th:if="${#fields.hasErrors('companyContactLastName')}" th:errors="*{companyContactLastName}">Invalid input for email!</div></td>
  </tr>
     <tr>
    <td>&nbsp;</td>
    <td colspan="2">&nbsp;</td>
  </tr>
  <br>
</table>


<table width="1490" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <th width="222" scope="col">
      <div align="left">
        <input type="reset" name="resetButForComposeNewApp" id="resetButForComposeNewApp" value="Reset">
    </div></th>
    <th width="732" scope="col">
      <div align="left">
        <input type="submit" name="insertButForComposeNewApp" id="insertButForComposeNewApp" value="Insert application to user account">
    </div></th>
    <th width="484"  scope="col">&nbsp;</th>
    <th width="52"  scope="col">&nbsp;</th>
  </tr>
</table>
</form>

<br>
</body>
</html>