<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta name="landingUserMemberAreaPage" http-equiv="Content-Type"
	content="text/html; charset=UTF-8" />
<title>User member area - Welcome to job manager</title>
</head>
<body>
	<div align="center">
		<h1>Welcome user: <span th:text="${userLoginName}" ></span> to member area of job manager!</h1>
	</div>
	<table width="100%" height="67" border="0">
		<tr>
		 <th width="10%" scope="col"><div align="left">User: &nbsp;<u><span th:text="${userLoginName}" ></span></u></div></th>
		  <th width="200" scope="col">&nbsp;</th>		
			<th width="183" rowspan="2" scope="col">&nbsp;</th>
			<th width="769" rowspan="2" scope="col">&nbsp;</th>
			<th width="334" rowspan="2" scope="col"><h1>Prototype 001</h1></th>
			<th width="146" scope="col">$Logout send the post for logout</th>
		</tr>
		<tr>
			<th colspan="2" scope="col"><div align="left"><a th:href="@{/memberarea/userAccountOffice/(uName=${userLoginName})}">User account office</a></div>
			&nbsp;<!-- add here home button or maybe logout -->
			</th>
		</tr>
	</table>

<!-- Display a form for insert, delete, search of application -->
<table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolorlight="#000000" bordercolor="#000000" >
<thead> <tr> <th colspan="7"><u>Current job applications</u></th> </tr> </thead>
  <tr >
    <td width="81"><div align="center"><strong>Selection</strong></div></td>
    <td width="216"><div align="center"><strong>Company name</strong></div></td>
    <td width="220"><div align="center"><strong>Date of applying</strong></div></td>
    <td width="171"><div align="center"><strong>State of application</strong></div></td>
    <td width="210"><div align="center"><strong>Application decline date</strong></div></td>
    <td width="217"><div align="center"><strong>Job title</strong></div></td>
    <td width="284"><div align="center"><strong>Special notice</strong></div></td>
  </tr>
  <!-- implement here the for loop , too loop trough the first 15 applications -->
  <tr>
    <td><div align="center"><input type="checkbox" name="checkbox" id="checkbox"></div></td>
    <td><div align="center">Muster Inc place holder!</div></td>
    <td><div align="center">01.03.2019 place holder!</div></td>
    <td><div align="center">wating for feedback place holder!</div></td>
    <td><div align="center">none place holder!</div></td>
    <td><div align="center">developer place holder!</div></td>
    <td><div align="center">cool company place holder!</div></td>
  </tr>
  <tr>
    <td><div align="center"><input type="checkbox" name="checkbox" id="checkbox"></div></td>
    <td><div align="center">Muster Inc place holder2!</div></td>
    <td><div align="center">01.03.2019 place holder2!</div></td>
    <td><div align="center">wating for feedback place holder2!</div></td>
    <td><div align="center">none place holder2!</div></td>
    <td><div align="center">developer place holder2!</div></td>
    <td><div align="center">cool company place holder2!</div></td>
  </tr>
</table>
<br>
<div align="left">
<table width="200" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <th scope="col"><input type="button" name="insertNewApplication" id="insertNewApplication" value="Insert new application"></th>
    <th scope="col">&nbsp;</th>
    <th scope="col"><input type="button" name="deleteNewApplication" id="deleteNewApplication" value="Delete new application"></th>
    <th scope="col">&nbsp;</th>
    <th scope="col"><input type="button" name="searchNewApplication" id="searchNewApplication" value="Search for application"></th>
    <th scope="col"><input name="textfield" type="text" id="searchFieldForApplication" value="Type text for search..."></th>
    <th scope="col">&nbsp;</th>
    <th scope="col"><input type="button" name="printSelectedApplications" id="printSelectedApplications" value="Print selected applications"></th>
  </tr>
</table>

<!-- Need to determine a way how to get data from memory and presented in human readable form -->
<p>Page: <strong>[ 1 ]</strong> 2 3 4 5 &gt;&gt;</p>

</div>

<!-- End of submit form -->
<table>
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
  <tr>
   <td th:insert="~{elements/footer::footer}" colspan="7"></td>
   </tr>
   </table>
</body>
</html>