<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="userJobApplicationsPrintViewList" http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Print view for list of user job applications</title>
</head>
<body>

<table width="100%" border="1">
  <tr>
    <th width="100%" colspan="5" scope="col"><h1>Print view  of user <span th:text="${userLoginName}" ></span> job applications</h1></th>
  </tr>
  <tr th:insert="~{elements/header::header}"></tr>
</table>

<br>
<br>

<!-- form start -->
<table width="100%" height="231" border="1" cellpadding="0" cellspacing="0" bordercolorlight="#000000" bordercolor="#000000" >
  <thead>
    <tr width="100">
      <th colspan="5">Print view of user <input type ="text" name="userNickName" id="userNickName" th:value="${userLoginName}" readonly />job applications</th>
    </tr>
  </thead>
  <tr>
    <td width="97" height="32"><div align="center"><strong>Company name</strong></div></td>
    <td width="713"><div align="center"><strong>Contact person</strong></div></td>
    <td width="593"><div align="center"><strong>Date when the job application was send</strong></div></td>
    <td width="593"><div align="center"><strong>Applied for position</strong></div></td>
    <td width="593"><div align="center"><strong>Current State of job application</strong></div></td>
  </tr>
   <tr th:each="jobapplication: *{currentUserJobApplications}">      
      <td th:text="${jobapplication.companyName}" />
      <td th:text="${jobapplication.currentCompanySalutationType +' '+ jobapplication.companyContactLastName}" />
      <td th:text="${jobapplication.dateWhenApplicationWasSend}" />
      <td th:text="${jobapplication.jobTittleOfApplicationForCompany}" />
      <td th:text="${jobapplication.userJobApplicationState}" />
   </tr>

</table>

<br>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <th scope="col"><div align="left">
      <input type="reset" name="resetForm" id="ResetForm" value="Reset">
    </div></th>
    <th scope="col"><div align="right">
      <input type="submit" name="SubmitApplicationToPdfCreatorPage" id="SubmitApplicationToPdfCreatorPage" value="print displayed job application as pdf">
    </div></th>
  </tr>
</table>
<!-- form ending -->

<br>
</body>
</html>
