<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="userAccountOffice" http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>>User account office for Job - Manager</title>
</head>
<body>
<table width="100%" border="2">
  <tr>
    <th colspan="5" scope="col"><h1>User account office for Job - Manager</h1></th>
  </tr>
  <tr>
    <th width="440" scope="col">Manage your applications (drop down menu)</th>
    <th width="274" scope="col">Current date: 29.03.2019 10:00</th>
    <th width="454" scope="col">User selection for language UI ENG, DEU</th>
    <th width="145" scope="col">Logged as: Username</th>
    <th width="146" scope="col">>Logout link</th>
  </tr>
</table>
</body>
</html>