<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="userAccountOffice" http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>>User account office for Job - Manager</title>
</head>
<body>
<table width="100%" border="2">
  <tr>
    <th width="100%" colspan="5" scope="col"><h1> Account office for user:  <span th:text="${userLoginName}" ></span></h1></th>
  </tr> 
  <tr th:insert="~{elements/header::header}"></tr>
</table>
<table width="1491" height="105" border="0" cellpadding="0" cellspacing="0">
<tr>
    <td colspan="4">&nbsp;</td>
  </tr>
  <tr>
    <th colspan="4" scope="col"><div align="left"><u>User personal information:</u></div></th>
  </tr>
  <tr>
    <td colspan="4">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="4">First name: <span th:text="${userFirstName}" ></span></td>
  </tr>
  <tr>
    <td colspan="4">Last name: <span th:text="${userLastName}" ></span></td>
  </tr>
  <tr>
    <td colspan="4">Company offers: $amount <strong>(this option will show up only if user has given a approval to be contacted by companys)</strong></td>
  </tr>
  <tr>
    <td colspan="4">Amount of applications archived: $AmountofUserActiveApplications</td>
  </tr>
   <tr>
    <td colspan="4">Amount of applications sent: $AmountOFUserSendByApplications</td>
  </tr>
     <tr>
    <td colspan="4">Amount of applications with company response: $AmountCompanyResponse </td>
  </tr>
     <tr>
    <td colspan="4">&nbsp;</td>
  </tr>
  <tr> <td width="94"><!-- to do view stats --></td></tr>
  <tr> <td width="1050"><!-- to do allowed to be contacted by company --></td></tr>
  <tr><td width="150"><!-- to do delete my account! --></td></tr>
  
</table>
<h2><br>
  Take notice: &quot;Manage your applications&quot; will include following operations:<br>
</h2>
<p><strong>
  <a th:href="@{/memberarea/userLandingPage/(uName=${userLoginName})}">Home landing page</a><br>
  <a th:href="@{/memberarea/printAllUserJobAppls/(uName=${userLoginName})}">Print view of job applications (with details!)</a><br>
  <a th:href="@{/memberarea/userAccountOffice/composeNewApp/(uName=${userLoginName})}">Create new application</a><br>
  <a th:href="@{/memberarea/userAccountOffice/deleteApp/(uName=${userLoginName})}">Delete application or applications</a><br>
  <a th:href="@{/memberarea/userAccountOffice/showListOfUserJobApplications/(uName=${userLoginName})}">List of new applications</a><br>
  Compose email from application or applications<br>
  Edit, search and delete application<br><br>
  Show already sent application or applications to the user!(Due to GDPR regulation all job application email will be send to a user which did created them!) <br><br>
  <b>The following entries should be a separate menu: probable name of menu item upload your personal files</b>
  <ul>
  		<li>Create or upload cover letter template</li><br>
  		<li>Create or upload your curriculum vitae</li><br>
  		<li>Upload your school credentials and/or certificates</li><br>
  </ul>
  </strong><br>
</p>
</body>
</html>