<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta name="warningUserInsertJobApplFormIncomplete" http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert new application is not completed!</title>
</head>
<body>
<div align ="center"><u><h1>Insert new application not completed!</h1></u></div>
<br><br>
<h2>Sorry, but you didn't filled the insert new application form completely!</h2><br>
<h2>Hint: check only <u>one</u> of the radio buttons at the insert new job application form! <br>Click on this button => ( <input type="radio" /><label th:text="example"></label> )</h2>
<br><br>
 <strong>Use your browser back button and go back to insert page for inserting your new job application!</strong></a>
</body>
</html>
