<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="errorPage" http-equiv="Content-Type"
	content="text/html; charset=UTF-8" />
<title>ERROR, ERROR, ERROR!</title>
</head>
<body>
	<h1>
		<div align="center">
			<u>Something gone bad!!!!</u>
		</div>
		<br> <br>
		<div align="center">
			<u>Highly trained monkey are dispatched and working on fixing this issue!</u>
		</div>
		<br>
		<br>
		<div align="center">Thank you for your patience!!</div>
	</h1>
	<br>
	<br>
</body>
</html>
