<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="loginUserPage" http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Welcome to job manager!</title>
</head>
<body>
<h1 align="left">Welcome to <u>job manager</u> a new way of managing job applications in 21 century!</h1>

<table width="1361" height="10" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="567"><h2>Registred users: <strong th:text="${numberOfRegisteredUsers}"></strong></h2>
        </td>
        <td width="5">&nbsp;</td>
        <td width="782"><h2>Users to be activated: <strong>$Number of users to be activated</strong></h2></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
</table>
<table>
    <tr>
        <td>
            <form action="#" th:action="@{/loginAsUserToJobManger}" th:object="${loginCredentials}" method="post">
                <table border="0" align="left" cellpadding="0" cellspacing="0">
                    <tr>
                        <td colspan="3"><h2><strong>Login</strong></h2></td>
                    </tr>
                    <tr>
                        <td><strong>User:</strong></td>
                        <td>&nbsp;</td>
                        <td><input type="text" name="inputForUserNickName" id="inputForUserNickName"
                                   th:field="*{userNickName}"></td>
                        <td>&nbsp;</td>
                        <td>
                            <div align="left" th:if="${#fields.hasErrors('userNickName')}"
                                 th:errors="*{userNickName}">Invalid input for user nickname!
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Password:</strong></td>
                        <td>&nbsp;</td>
                        <td><input type="password" name="inputForUserPassword" id="inputForUserPassword"
                                   th:field="*{userPassword}"></td>
                        <td>&nbsp;</td>
                        <td>
                            <div align="left" th:if="${#fields.hasErrors('userPassword')}"
                                 th:errors="*{userPassword}">Invalid input for user password!
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>New user? &nbsp;&nbsp;<strong><a href="regnewuser">Register here!</a></strong></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Forgot password? &nbsp;&nbsp;<strong><a href="recoverUserPass">Request your new
                            password here!</a></strong></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td><input type="reset" name="resetButFormForUserLogIn" id="resetButFormForUserLogIn"
                                   value="Clear all fields"></td>
                        <td>&nbsp;</td>
                        <td><input type="submit" name="submitButUserCridentials" id="submitButUserCridentials"
                                   value="Log in"></td>
                    </tr>
                </table>
            </form>
        </td>
        <td>
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="2">
                        <div align="left"><strong>HERE IS YOUR PLACE FOR ADVERTISEMENT!</strong></div>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="2">
                        <div align="left"><strong>HERE IS YOUR PLACE FOR ADVERTISEMENT!</strong></div>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="2">
                        <div align="left"><strong>HERE IS YOUR PLACE FOR ADVERTISEMENT!</strong></div>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="443"></td>
                    <td width="10"></td>
                    <td width="675"></td>
                </tr>
                <tr>
                    <td>
                        <div align="center">
                            <h2><strong>News ticker</strong></h2>
                        </div>
                    </td>
                    <td width="10"></td>
                    <td><strong>HERE IS YOUR PLACE FOR ADVERTISEMENT!</strong></td>
                </tr>
                <tr>
                    <td rowspan="7"><textarea name="textarea" cols="100" rows="20" maxlength="650" readonly
                                              id="textarea">Job openings in Germany having
the highest rate possible , but some company luck of understanding and ability to hire fast enoughThere is another problem on the market, the applicants do not have all required skills possible , so company should hire people and trained them both for tech and soft skill, do you want to know more? click hereTechnology newsApparantly there not so many companys who value quality of the software, many companys just write code without proper industry standards, so we definetly as industry can expect some diffcult and dangerous situations
    </textarea></td>
                    <td width="10"></td>
                    <td></td>
                </tr>
                <tr>
                    <td width="10"></td>
                    <td><strong>HERE IS YOUR PLACE FOR ADVERTISEMENT!</strong></td>
                </tr>
                <tr>
                    <td width="10"></td>
                    <td></td>
                </tr>
                <tr>
                    <td width="10"></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td width="10"></td>
                    <td><strong>HERE IS YOUR PLACE FOR ADVERTISEMENT!</strong></td>
                </tr>
                <tr>
                    <td width="10"></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td width="10"></td>
                    <td><strong>HERE IS YOUR PLACE FOR ADVERTISEMENT!</strong></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td width="10">&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<table width="1000" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td>&nbsp;</td>
        <td width="5"></td>
        <td>&nbsp;</td>
        <td width="5"></td>
        <td>&nbsp;</td>
        <td width="5"></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td width="5">&nbsp;</td>
        <td>&nbsp;</td>
        <td width="5">&nbsp;</td>
        <td>&nbsp;</td>
        <td width="5">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td th:insert="~{elements/footer::footer}" colspan="7"></td>
        <td>&nbsp;</td>
    </tr>
</table>


</body>
</html>