<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
 <meta name="regnewuserform" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title><h1>New member registration</h1></title>
</head>
<body>
	<table width="1200" height="488" border="0" align="center"
		cellpadding="0" cellspacing="0">
		<tr>
			<th colspan="4" scope="col">New member registration</th>
		</tr>
		<tr>
			<td width="168" height="37" class="l">First name</td>
			<td colspan="3"><input type="text" name="inputNewUserFirstName"	id="inputNewUserFirstName"></td>
		</tr>
		<tr>
			<td height="32" class="l">Last name</td>
			<td colspan="3"><input type="text" name="inputNewUserLastName"	id="inputNewUserLastName"></td>
		</tr>
		<tr>
			<td height="44" class="l">Birthdate</td>
			<td colspan="3"><input type="text" name="inputNewUserBirthdate"	id="inputNewUserBirthdate"></td>
		</tr>
		<tr>
			<td height="41" class="l">Email</td>
			<td colspan="3"><input type="text" name="inputNewUserEmail"	id="inputNewUserEmail"></td>
		</tr>
		<tr>
			<td height="51" class="l">City</td>
			<td colspan="3"><input type="text" name="inputNewUserCity" id="inputNewUserCity"></td>
		</tr>
		<tr>
			<td height="43" class="l">Street</td>
			<td colspan="3"><input type="text" name="inputNewUserStreet" id="inputNewUserStreet"></td>
		</tr>
		<tr>
			<td height="51" class="l">Street number</td>
			<td colspan="3"><input type="text" name="inputNewUserStreetNum"	id="inputNewUserStreetNum"></td>
		</tr>
		<tr>
			<td height="51" class="l">Country</td>
			<td colspan="3"><input type="text" name="inputNewUserCountry" id="inputNewUserCountry"></td>
		</tr>
		<tr>
			<td height="39" class="l">Sex</td>
			<td colspan="3">
			<input type="checkbox" name="maleSexChkBox"	id="maleSexChkBox"> <label for="maleSexChkBox">Male</label>
			<input type="checkbox" name="femaleSexChkBox" id="femaleSexChkBox"><label for="femaleSexChkBox">Female</label></td>
		</tr>
		<tr>
			<td height="39" class="l">Username</td>
			<td colspan="3"><input type="text" name="inputNewUserUserName"	id="inputNewUserUserName"></td>
		</tr>
		<tr>
			<td class="l">Job state</td>
			<td colspan="3"><select name="selectionBoxEmploymentState"
				id="selectionBoxEmploymentState">
					<option value="unemployed" selected>Unemployed</option>
					<option value="employed">Employed</option>
					<option value="selfemployed">Selfemployed</option>
			</select></td>
		</tr>
		<tr>
			<td class="l">Captcha</td>
			<td colspan="3"><input name="textfield9" type="text" id="textfield9" value="to be implemented!!!"></td>
		</tr>
		<tr>
			<td class="center">&nbsp;</td>
			<td width="60" class="cen"><input type="button"	name="resetButOfNewUserReg" id="resetButOfNewUserReg" value="Reset">
			</td>
			<td width="77" class="cen">
			   <input type="button"	name="submitNewUserReg" id="submitNewUserReg" value="Submit registration!"></td>
			<td width="895" class="cen">&nbsp;</td>
		</tr>
	</table>
</body>
</html>
