<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta name="regnewuserform" http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>New member registration</title>
</head>
<body>
<form action="#" th:action="@{/submitNewUserReg}" th:object="${user}" method="post">
	<table width="1200" height="488" border="0" align="center" cellpadding="0" cellspacing="0">
		<tr>
			<th colspan="5" scope="col"><h1>New member registration</h1></th>
		</tr>
		<tr>
			<td width="140" height="37" class="l">First name</td>
			<td>
			<div align="left"><input type="text" name="inputNewUserFirstName"	 id="inputNewUserFirstName" th:field="*{userFirstName}" /></div>
			 </td>
			<td width="12">&nbsp;</td>
			<td width="745"><div align="left" th:if="${#fields.hasErrors('userFirstName')}" th:errors="*{userFirstName}">Invalid input for user first name</div></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
		<td width="140" height="37" class="l">First name</td>
			<td>
			<div align="left"><input type="text" name="inputNewUserLastName"	id="inputNewUserLastName" th:field="*{userLastName}" /></div>
			 </td>
			<td width="12">&nbsp;</td>
			<td width="745"><div align="left" th:if="${#fields.hasErrors('userLastName')}" th:errors="*{userLastName}">Invalid input for user last name</div></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td width="140" height="37" class="l">Birthday</td>
			<td>
			<div align="left"><input type="text" name="inputNewUserBirthdate"	id="inputNewUserBirthdate"   th:field="*{userBirthDate}" /></div>
			 </td>
			<td width="12">&nbsp;</td>
			<td width="745"><div align="left" th:if="${#fields.hasErrors('userBirthDate')}" th:errors="*{userBirthDate}">Invalid input for user birthday</div></td>
			<td>&nbsp;</td>
		</tr>
			<tr>
			<td width="140" height="37" class="l">Email</td>
			<td>
			<div align="left"><input type="text" name="inputNewUserEmail"	id="inputNewUserEmail" th:field="*{userEmail}" /></div>
			 </td>
			<td width="12">&nbsp;</td>
			<td width="745"><div align="left" th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}">Invalid input for user email</div></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td width="140" height="37" class="l">City</td>
			<td>
			<div align="left"><input type="text" name="inputNewUserCity" id="inputNewUserCity" th:field="*{userCity}" /></div>
			 </td>
			<td width="12">&nbsp;</td>
			<td width="745"><div align="left" th:if="${#fields.hasErrors('userCity')}" th:errors="*{userCity}">Invalid input for user email</div></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td width="140" height="37" class="l">Street name</td>
			<td>
			<div align="left"><input type="text" name="inputNewUserStreetName" id="inputNewUserStreetName" th:field="*{userStreetName}" /></div>
			 </td>
			<td width="12">&nbsp;</td>
			<td width="745"><div align="left" th:if="${#fields.hasErrors('userStreetName')}" th:errors="*{userStreetName}">Invalid input for user email</div></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td width="140" height="37" class="l">Street number</td>
			<td>
			<div align="left"><input type="text" name="inputNewUserStreetNum"	id="inputNewUserStreetNum" th:field="*{userStreetNumber}" /></div>
			 </td>
			<td width="12">&nbsp;</td>
			<td width="745"><div align="left" th:if="${#fields.hasErrors('userStreetNumber')}" th:errors="*{userStreetNumber}">Invalid input for user street number</div></td>
			<td>&nbsp;</td>
		</tr>
  	     <tr>
			<td width="140" height="37" class="l">Country</td>
			<td>
			<div align="left"><input type="text" name="inputNewUserCountry" id="inputNewUserCountry" th:field="*{userCountryName}" /></div>
			 </td>
			<td width="12">&nbsp;</td>
			<td width="745"><div align="left" th:if="${#fields.hasErrors('userCountryName')}" th:errors="*{userCountryName}">Invalid input for user country</div></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
		<td width="140" height="37" class="l">Sex</td>
				<td>
					<ul>
						<li th:each="type : ${allUserSexTypes}">
							<div align="left">
								<input type="radio" th:field="*{typesOfUserSex}" th:value="${type}" /> <label th:text="${type}"></label>
							</div>
						</li>
					</ul>
				</td>
				<td width="12">&nbsp;</td>          
		   <td width="745"><div align="right" th:if="${#fields.hasErrors('typesOfUserSex')}" th:errors="*{typesOfUserSex}">User one of the sex options must be selected!</div></td>
			<td>&nbsp;</td>           
		</tr>
	     <tr>
			<td width="140" height="37" class="l">Username</td>
			<td>
			<div align="left"><input type="text" name="inputNewUserNickname" id="inputNewUserNickname" th:field="*{userNickName}" /></div>
			</td>
			<td width="12">&nbsp;</td>
			<td width="745"><div align="left" th:if="${#fields.hasErrors('userNickName')}" th:errors="*{userNickName}">Invalid input for user nickname</div></td>
			<td>&nbsp;</td>
		</tr>
			<tr>
				<td width="140" height="37" class="l">Job state</td>
				<td>
					<div align="left">
						<select name="selectionBoxEmploymentState"	id="selectionBoxEmploymentState" th:field="*{currentEmploymentState}">
							<option
								th:each="currentEmploymentState : ${allUserEmployeeStateTypes}"
								th:value="${currentEmploymentState}"
								th:text="${currentEmploymentState}">
							</option>
						</select>
					</div>
				</td>
				<td width="12">&nbsp;</td>
				<td width="745">
				<div align="left" th:if="${#fields.hasErrors('currentEmploymentState')}" th:errors="*{currentEmploymentState}">
				Invalid input for user nickname</div>
				</td>
				<td>&nbsp;</td>
			</tr>

			<tr>
			<td class="l">Captcha</td>
			<td colspan="4"><input name="textfield9" type="text" id="textfield9" value="to be implemented!!!" /></td>
		</tr>
		<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		</tr>
		<tr>
			<td >&nbsp;</td>
			<td width="168" >
			<input type="reset"	name="resetButOfNewUserReg" id="resetButOfNewUserReg" value="Reset" />
			</td>
			<td colspan="2" >
			   <input type="submit"	name="submitNewUserReg" id="submitNewUserReg" value="Submit registration!" /></td>
			<td width="135" class="cen">&nbsp;</td>
		</tr>
	</table>
	</form>
	<a href="/"><strong>Back to login page</strong></a>
</body>
</html>