<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta name="regnewuserform" http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>New member registration</title>
</head>
<body>
<form action="#" th:action="@{/submitNewUserReg}" th:object="${user}" method="post">
	<table width="1200" height="488" border="0" align="center" cellpadding="0" cellspacing="0">
		<tr>
			<th colspan="5" scope="col"><h1>New member registration</h1></th>
		</tr>
		<tr>
			<td width="140" height="37" class="l">First name</td>
			<td>
			<div align="left"><input type="text" name="inputNewUserFirstName"	 id="inputNewUserFirstName" th:field="*{userFirstName}" /></div>
			 </td>
			<td width="12">&nbsp;</td>
			<td width="745"><div align="left" th:if="${#fields.hasErrors('userFirstName')}" th:errors="*{userFirstName}">Invalid input for user first name</div></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
		<td width="140" height="37" class="l">First name</td>
			<td>
			<div align="left"><input type="text" name="inputNewUserLastName"	id="inputNewUserLastName" th:field="*{userLastName}" /></div>
			 </td>
			<td width="12">&nbsp;</td>
			<td width="745"><div align="left" th:if="${#fields.hasErrors('userLastName')}" th:errors="*{userLastName}">Invalid input for user last name</div></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td width="140" height="37" class="l">Birthday</td>
			<td>
			<div align="left"><input type="text" name="inputNewUserBirthdate"	id="inputNewUserBirthdate"   th:field="*{userBirthDate}" /></div>
			 </td>
			<td width="12">&nbsp;</td>
			<td width="745"><div align="left" th:if="${#fields.hasErrors('userBirthDate')}" th:errors="*{userBirthDate}">Invalid input for user birthday</div></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td height="41" class="l">Email</td>
			<td colspan="4"><input type="text" name="inputNewUserEmail"	id="inputNewUserEmail" th:field="*{userEmail}" /></td>
		</tr>
		<tr>
			<td height="51" class="l">City</td>
			<td colspan="4"><input type="text" name="inputNewUserCity" id="inputNewUserCity" th:field="*{userCity}" /></td>
		</tr>
		<tr>
			<td height="43" class="l">Street</td>
			<td colspan="4"><input type="text" name="inputNewUserStreetName" id="inputNewUserStreetName" th:field="*{userStreetName}" /></td>
		</tr>
		<tr>
			<td height="51" class="l">Street number</td>
			<td colspan="4"><input type="text" name="inputNewUserStreetNum"	id="inputNewUserStreetNum" th:field="*{userStreetNumber}" /></td>
		</tr>
		<tr>
			<td height="51" class="l">Country</td>
			<td colspan="4"><input type="text" name="inputNewUserCountry" id="inputNewUserCountry" th:field="*{userCountryName}" /></td>
		</tr>
		<tr>
			<td height="39" class="l">Sex</td>
			<td colspan="4">
					<ul>
						<li th:each="type : ${allUserSexTypes}">
						    <input type="checkbox" th:field="*{typesOfUserSex}" th:value="${type}" />
							<label th:for="${#ids.prev('typesOfUserSex')}" th:text="${type}"></label>
						</li>
					</ul> 
		</tr>
		<tr>
			<td height="39" class="l">Username</td>
			<td colspan="4"><input type="text" name="inputNewUserUserName"	id="inputNewUserUserName" th:field="*{userNickName}" /></td>
		</tr>
		<tr>
			<td class="l">Job state</td>
			<td colspan="4">
			<select name="selectionBoxEmploymentState" id="selectionBoxEmploymentState" th:field="*{currentEmploymentState}">
			<option th:each="currentEmploymentState : ${allUserEmployeeStateTypes}" 
			        th:value="${currentEmploymentState}" 
			        th:text="${currentEmploymentState}"></option>
			</select>
			</td>
		</tr>
		<tr>
			<td class="l">Captcha</td>
			<td colspan="4"><input name="textfield9" type="text" id="textfield9" value="to be implemented!!!" /></td>
		</tr>
		<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		</tr>
		<tr>
			<td >&nbsp;</td>
			<td width="168" >
			<input type="reset"	name="resetButOfNewUserReg" id="resetButOfNewUserReg" value="Reset" />
			</td>
			<td colspan="2" >
			   <input type="submit"	name="submitNewUserReg" id="submitNewUserReg" value="Submit registration!" /></td>
			<td width="135" class="cen">&nbsp;</td>
		</tr>
	</table>
	</form>
</body>
</html>
