<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="accessNotAllowedPage" http-equiv="Content-Type"
	content="text/html; charset=UTF-8" />
<title>Stop, you not allowed to acces this area!</title>
</head>
<body>
	<h1>
		<div align="center">
			<u>Your are not allowed to acces the area, registered users only!!!!</u>
		</div>
		<br> <br>
		<div align="center">
			<u>This area only for registered users only!</u>
		</div>
		<br>
		<br>
	</h1>
	<br>
	<br>
	<div align="left"><a href="/">back to main page</a></div>
</body>
</html>
