<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta name="userPasswordRecovery" http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>User password recovery</title>
</head>
<body>
<form action="#" th:action="@{/submitUserPassRecovery}" th:object="${user}" method="post">
<table width="1200" height="488" border="0" align="center" cellpadding="0" cellspacing="0">
		<tr>
			<th colspan="5" scope="col"><h1><u>User password recovery</u></h1></th>
		</tr>
		<tr>
			<td width="140" height="37" class="l">First name</td>
			<td>
			<div align="left"><input type="text" name="inputRegisteredUserFirstName"	 id="inputRegisteredUserFirstName" th:field="*{userFirstName}" /></div>
			 </td>
			<td width="12">&nbsp;</td>
			<td width="745"><div align="left" th:if="${#fields.hasErrors('userFirstName')}" th:errors="*{userFirstName}">Invalid input for user first name</div></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
		<td width="140" height="37" class="l">Last name</td>
			<td>
			<div align="left"><input type="text" name="inputRegisteredUserLastName"	id="inputRegisteredUserLastName" th:field="*{userLastName}" /></div>
			 </td>
			<td width="12">&nbsp;</td>
			<td width="745"><div align="left" th:if="${#fields.hasErrors('userLastName')}" th:errors="*{userLastName}">Invalid input for user last name</div></td>
			<td>&nbsp;</td>
		</tr>
			<tr>
			<td width="140" height="37" class="l">Email</td>
			<td>
			<div align="left"><input type="text" name="inputRegisteredUserEmail"	id="inputRegisteredUserEmail" th:field="*{userEmail}" /></div>
			 </td>
			<td width="12">&nbsp;</td>
			<td width="745"><div align="left" th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}">Invalid input for user email</div></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td width="140" height="37" class="l">City</td>
			<td>
			<div align="left"><input type="text" name="inputRegisteredUserCity" id="inputRegisteredUserCity" th:field="*{userCity}" /></div>
			 </td>
			<td width="12">&nbsp;</td>
			<td width="745"><div align="left" th:if="${#fields.hasErrors('userCity')}" th:errors="*{userCity}">Invalid input for user email</div></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td width="140" height="37" class="l">Street name</td>
			<td>
			<div align="left"><input type="text" name="inputRegisteredUserStreetName" id="inputRegisteredUserStreetName" th:field="*{userStreetName}" /></div>
			 </td>
			<td width="12">&nbsp;</td>
			<td width="745"><div align="left" th:if="${#fields.hasErrors('userStreetName')}" th:errors="*{userStreetName}">Invalid input for user email</div></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td width="140" height="37" class="l">Street number</td>
			<td>
			<div align="left"><input type="text" name="inputRegisteredUserStreetNum"	id="inputRegisteredUserStreetNum" th:field="*{userStreetNumber}" /></div>
			 </td>
			<td width="12">&nbsp;</td>
			<td width="745"><div align="left" th:if="${#fields.hasErrors('userStreetNumber')}" th:errors="*{userStreetNumber}">Invalid input for user street number</div></td>
			<td>&nbsp;</td>
		</tr>
  	     <tr>
			<td width="140" height="37" class="l">Country</td>
			<td>
			<div align="left"><input type="text" name="inputRegisteredUserCountry" id="inputRegisteredUserCountry" th:field="*{userCountryName}" /></div>
			 </td>
			<td width="12">&nbsp;</td>
			<td width="745"><div align="left" th:if="${#fields.hasErrors('userCountryName')}" th:errors="*{userCountryName}">Invalid input for user country</div></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="l">Captcha</td>
			<td colspan="4"><input name="textfield9" type="text" id="textfield9" value="to be implemented!!!" /></td>
		</tr>
		<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		</tr>
		<tr>
			<td >&nbsp;</td>
			<td width="168" >
			<input type="reset"	name="resetButOfRegisteredUserReg" id="resetButOfRegisteredUserReg" value="Reset" />
			</td>
			<td colspan="2" >
			   <input type="submit"	name="submitUserPassRecoveryBut" id="submitUserPassRecoveryBut" value="Submit registration!" /></td>
			<td width="135" class="cen">&nbsp;</td>
		</tr>
	</table>
</form>
<a href="/"><strong>Back to login page</strong></a>
</body>